.Main {
    background:  #E9ECEF;
    margin-Bottom: 15rem;
    padding-Bottom: 4rem;
}

.titleContainer {
    display: flex;
    flex-Direction: column;
    align-items: center;
    padding: 1rem;
    border-Bottom: 1px solid black;
}

.image {
    max-width: 150px;
}

.Title {
    display: flex;
    flex-Direction: column;
    text-Align: center;
}